GOOGLE_APPLICATION_CREDENTIALS: google-application-credentials.json
FIREBASE_ADMIN_CREDENTIALS: firebase-admin-credentials.json
PROJECT_ID: gcp-project-id
SERVICE_ACCOUNT: service-account
BIGQUERY_LOCATION: gcp-region
BIGQUERY_DATASET: cryptobotter
SENTRY_DSN: [optional]
BINANCE_API_KEY: [optional]
